.overlay {
    width: 30%;
    height: 65%;
    display: none;
    position: fixed;
    z-index: 2;
    top: 15%;
    left: 45%;
    background-color: rgba(44, 107, 126, 0.9);
    overflow-y: auto;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 80%;
    text-align: center;
    margin: 0px auto;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}